th
{
    height:50px;
    background-color: light green;
    color:rgb(193, 26, 101)

}
td
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);






}
